
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>isNotAllow</title>
</head>
<body>
    <div>
        <p>Bu sayfa için Admin girişi gereklidir!</p>
    </div>
</body>
</html>
