
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="signinform">
    <h1>#HızlıKirala</h1>
    <!-- container -->
    <div class="container">
        <!-- main content -->
        <div class="w3l-form-info">
            <div class="w3_info">
                <h2>Giriş</h2>
                @using (Html.BeginForm("Verify", "Account", FormMethod.Post))
                { 
                //<form action="Account/Verify" method="post">
                <div class="input-group">
                    <span><i class="fas fa-user" aria-hidden="true"></i></span>
                    <input type="text" name="Username" placeholder="Username" required="">
                </div>
                <div class="input-group">
                    <span><i class="fas fa-key" aria-hidden="true"></i></span>
                    <input type="Password" name="Password" placeholder="Password" required="">
                </div>
                <button class="btn btn-primary btn-block" type="submit">Giriş</button>
            //</form>
                }
                <p class="account">Don't have an account? <a href="#signup">Sign up</a></p>
            </div>
        </div>
        <!-- //main content -->
    </div>
    <!-- //container -->
    <!-- footer -->
    <div class="footer">
        <p>
            &copy; 2024 #HızlıKirala
        </p>
    </div>
    <!-- footer -->
</div>

<!-- fontawesome v5-->
<script src="js/fontawesome.js"></script>


