
@{
    Layout = null /*"~/Views/Shared/_Layout.cshtml"*/;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>isNotAllow</title>
</head>

<style>
    p {
        font-weight: bold;
        background-color: #ced4da;
        padding: 16px 24px;
    }
</style>
<body>
    <div>
        <p>Bu sayfa için Satıcı girişi gereklidir!</p>
    </div>
</body>
</html>
