@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title"></h2>
    <h3>#HızlıKirala , biz kimiz?</h3>

    <p>Makul fiyata , maksimum müşteri memnuyeti sağlayan , Araç kiralama firmalarıyla aracılık sağlayan bir kuruluşuz. </p>
    <p>
        Güncel araçlarımız için <a href="@Url.Action("Index", "Car")" >tıklayınız</a>.</p>

</main>







