@model  List<CarRent.Models.ViewModels.VehicleDetail>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Araç Özellikleri</h1>

<div class="d-grid gap-3">

    <img src="@Url.Content(Model.First().ImagePath)" style="width:500px" class="rounded" alt="...">

    @foreach (var item in Model)
    {

        <div class="d-grid gap-3">

            <ul class="list-group">
                <li class="list-group-item">
                    <strong>@item.FeatureName</strong>&nbsp;
                    <span>@item.detailDescription&nbsp;</span>
                </li>
            </ul>
        </div>
    }

</div>



